body{
	font-family:'Calibri','HelveticaNeue-Light','Helvetica Neue',sans-serif;
	line-height:24px;
	font-size:13px;
	color:#333;
	background:url('texture.png');
	margin:0;
	padding:30px;
}

a{
	color:#333;
	text-decoration:none;
	border-bottom:1px solid #666;
}

a:hover{
	color:#666;
}

h1{
	margin:25px auto;
	width:70%;
	font-size:35px;
	font-weight:normal;
}

h1 a{
	border:0;
	color:#456789;
}

h1 a:hover{
	color:#567890;
}

h2{
	font-size:25px;
	color:#456789;
	font-weight:normal;
}

div#main{
	width:70%;
	height:425px;
	margin:0 auto;
	background:#fff;
	border:1px solid #ddd;
}

div.smiley{
	background:#fff;
	float:right;
	width:280px;
	height:425px;
	background:url('smiley.png') top right no-repeat;
}

div#content{
	padding:15px;
}

div#footer{
	margin:0 auto;
	text-align:right;
	color:#333;
	width:70%;
	font-size:12px;
	line-height:18px;
	margin-top:15px;
}

@media screen and (max-device-width: 640px){
	body{font-size:18px;}
	div#main{width:100%;}
	h1{width:100%;}
	div#footer{width:100%;}
}