---
layout: default
---

<div class="home">
  <div class="post-list">
    {% for post in paginator.posts %}
      <article class="post">
        {% assign post = post.title %}
        {% assign content = post.content %}
        {% assign date = post.date %}
        {% include post_detail.html %}
      </article>
      
      {% assign last_date = post.date | date: "%Y-%m-%d" %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination-older">← Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pagination-newer">Newer Posts →</a>
    {% endif %}

    <div class="clear"></div>
  </div>
</div>
