<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="{{ site.description }}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />

	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />
  <link rel="alternate" type="application/json" title="{{ site.title | escape }}" href="{{ "/feed.json" | relative_url }}" />

	<link rel="me" href="https://micro.blog/peterrother" />

	<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <title>{{ site.title }}</title>
</head>
