{% unless page.exclude_header %}
<div class="site-header">
	<section class="wrapper">
		<header class="site-profile h-card" role="banner">
			{% assign default_paths = site.pages | map: "path" %}
			{% assign page_paths = site.header_pages | default: default_paths %}

			<a class="site-title u-url" href="{{ site.url }}" rel="me">
				<img id="site-title-avatar" class="u-photo" src="{{ site.url }}/avatar.jpg" />
			</a>

			<h1 class="p-name" rel="me">
				<a id="site-title-link" class="site-title u-url" href="{{ site.url }}" rel="me">
					{{ site.title | escape }}
				</a>
			</h1>
		</header>

		<div class="clear"></div>
	</section>
</div>
{% endunless %}
