{% if page.title.size > 0 %}
<div class="post-header">
	<h2 class="post-title" itemprop="name headline">
		{{ page.title }}
	</h2>
</div>
{% endif %}

{% if post.title.size > 0 %}
<div class="post-header">
	<h2 class="post-title{% if content.size <= 280 %} micropost{% endif %}" itemprop="name headline">
		{{ post.title }}
	</h2>
</div>
{% endif %}

<div class="post-content{% if content.size <= 280 %} micropost{% endif %}" itemprop="articleBody">
	{{ content }}

	<div class="post-meta">
		<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
			{% assign date_format = site.minima.date_format | default: "@ %H:%M / %b %-d" %}
			<a href="{{ root_url }}{{ post.url }}">{{ post.date | date: date_format }}</a>
		</time>
	</div>
</div>
