---
---

@import "minima";

body {
	font: 400 16px/1.8 Georgia, serif;
}

a {
	color: #1756a9;
}

.site-title,.site-title:visited {
	color: #111;
}

.post-header {
	margin-bottom: 5px;
}

.post-title {
	font-size: 22px;
	margin-bottom: 0;
}

.post-meta a {
	color: #828282;
}

.micropost, .micropost p {
	margin-bottom: 0;
}

.post-meta.micropost {
	margin-bottom: 30px;
}

.pagination-newer {
	float: right;
}

.pagination-older {
	float: left;
}

.clear {
	clear: both;
}