---
---

@import "minima";

body {
	font: 400 16px/1.8 Georgia, serif;
}

a {
	color: #1756a9;
}

.site-title,.site-title:visited {
	color: #111;
}

.post-header {
	margin-bottom: 5px;
}

.post-title {
	font-size: 30px;
	margin-bottom: 0;
}