/**
 * Site header
 */
.site-header {
	min-height: $spacing-unit * 1.865;
	border-bottom: 1px solid;
	@include color-assign(border-color, grey-color-light);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-profile {
	float: left;
}

.site-profile h1 {
	@include relative-font-size(1.625);
	font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
	margin-bottom: 0;
	display: inline;
}

.site-title {
	@include relative-font-size(1.8);
	letter-spacing: -1px;
	font-family: $headline-font-family;
	font-weight: 400;
	margin-bottom: 0;

	@include media-query($on-palm) {
		@include relative-font-size(1.5);
	}
}

#site-title-link {
	@include color-assign(color, primary-500);
	border-bottom: 0;

	&:hover {
		border-bottom: 1px solid;
	}
}

#site-title-avatar {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
	margin-bottom: 5px;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
		display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
		@include color-assign(color, nav-color);
		letter-spacing: -1px;
		line-height: $base-line-height;
		border-bottom: 0;

		&:hover {
			border-bottom: 1px solid;
			padding-bottom: 3px;
		}

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
		@include color-assign(background-color, background);
		@include color-assign(border-color, grey-color-light);
    border: 1px solid;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
				@include color-assign(fill, hamburger);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}



/**
 * Posts
 */
.post-list {
  margin-left: 0;
  list-style: none;

	.post:last-child {
		border: 0;
	}
}

.post {
	margin-bottom: $spacing-unit*2;
	border-bottom: 0.5px solid;
	@include color-assign(border-color, grey-color-light);

	&:only-child {
		border: 0;
	}
}

.noborder {
	border: 0;
}

.post-title {
	@include relative-font-size(1.5);
	font-family: $sub-headline-font-family;
	line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.8);
	}

	@include media-query($on-palm) {
		@include relative-font-size(1.3);
	}

	&.micropost {
		font-style: italic;
		font-family: cursive;
	}

	&.micropost::before {
		content: '❦';
	}
}

.post-content {
	//margin-bottom: $spacing-unit*2;
	// &.micropost p:first-child::before {
	// 	content: '❦ ';
	// }

  h2 {
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }

  h3 {
    @include relative-font-size(1);

    @include media-query($on-laptop) {
      @include relative-font-size(1);
    }
  }

  h4 {
    @include relative-font-size(0.9);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-meta {
	font-size: $small-font-size;
	margin-bottom: $spacing-unit;

	a {
		@include color-assign(color, grey-color);

		&:hover {
			@include color-assign(color, grey-color-dark);
			@include color-assign(border-color, grey-color-dark);
		}
	}
}



/**
 * Site footer
 */
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
	@include color-assign(color, primary-500);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
