---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if forloop.index <= 5 %}
      <div class="blog-index">
        {% assign post = post.title %}
        {% assign content = post.content %}
        {% assign date = post.date %}
        {% include post_detail.html %}
      </div>
      {% endif %}

      {% if forloop.index > 5 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>