---
layout: default
---
<article class="post noborder" itemscope itemtype="http://schema.org/BlogPosting">
	{% if page.title.size > 0 %}
  <header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
	{% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

	<p class="post-meta">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{% assign date_format = site.minima.date_format | default: "@ %H:%M / %b %-d" %}
			<a href="{{ root_url }}{{ page.url }}">{{ page.date | date: date_format }}</a>
		</time>
	</p>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
